<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>

<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</div>
    <br/>
    <label for="date">Date of birth</label>
    <input type="date" th:field="*{date}" id="date" min="1900-01-01" max=""/>
    <script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd;
    }
    if (mm < 10) {
        mm = '0' + mm;
    }
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("date").setAttribute("max", today);
    </script> <!-- сегодняшняя дата -->
    <br/>
    <input type="submit" value="Create"/>
</form>
<a href="/people">ALL PEOPLE</a>
<p>SUCK</p>
</body>
</html>

