<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{book_id}(book_id=${book.getBook_id()})}" th:object="${book}">
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color: red" th:if="*{#fields.hasErrors('title')}" th:errors="*{title}">errors</div>
    <br/>
    <label for="author">Author</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: red" th:if="*{#fields.hasErrors('author')}" th:errors="*{author}">errors</div>
    <br/>
    <label for="year">Year</label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color: red" th:if="*{#fields.hasErrors('year')}" th:errors="*{year}">erros</div>
    <br/>
    <input type="submit" value="Update"/>
</form>
<br/>


<form th:method="DELETE" th:action="@{/books/{book_id}(book_id=${book.getBook_id()})}" th:object="${book}">
    <input type="submit" value="DELETE BOOK"/>
</form>
<br/>
<a href="/books">ALL BOOKS</a>
</body>
</html>