<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<p>LIST OF BOOKS</p>
<div th:each="book : ${books}">
<a th:text="${book.getTitle() + ', by ' + book.getAuthor() + ', ' + book.getYear()} + ' year.'"
th:href="@{/books/{book_id}(book_id=${book.getBook_id()})}"/>
</div>
<br/>
<a href="/books/new">NEW BOOK</a>
<br/>
<hr/>
<p>NAVIGATE:</p>
<br/>
<a href="/books">ALL BOOKS</a>
<br/>
<a href="/people">ALL PEOPLE</a>
</body>
<br/>
<a href="/books/search">Search book</a>
</html>
